p {
    text-align: center;
    color: black;
    display: block;
}
body {
    color: black;
}
section {
    text-align: center;
    display: block;
}
h1 {
    text-align: center; 
}
input, label {
    display: block;
    text-align: center;
}
textarea {
    display: block;
}